@import url("./fonts.css");

@import "tailwindcss";

/* tailwind plugins */
@plugin "@tailwindcss/forms";

/* theme definition import */
@import "./tailwind-theme.css";

/* other imports into specific layers */
@import "./markdown-content.css" layer(components);
@import "./buttons.css" layer(components);

/* https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@layer base {
	:root {
		/* default font */
		font-family: var(--font-sans);
	}

	/* starwind preflight merged with Cosmic Themes */
	* {
		@apply border-base-200 outline-none;
	}
	*:focus-visible {
		@apply ring-primary-700 rounded-xs ring-2 outline-none;
	}
	html {
		@apply bg-base-100 text-base-900 leading-[1.6rem] scheme-light;
		scroll-behavior: smooth;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}
	button {
		@apply cursor-pointer;
	}
}

@layer components {
	.h1 {
		@apply text-3xl font-bold md:text-4xl lg:text-5xl text-primary-600;
	}

	.h2 {
		@apply text-2xl font-bold md:text-3xl text-base-900;
	}

	.h3 {
		@apply text-xl font-semibold md:text-2xl text-base-800;
	}

	.description {
		@apply opacity-90 md:text-lg text-base-700;
	}

	.site-container {
		@apply mx-auto max-w-6xl px-4 py-6 md:py-10;
	}
	
	.section-title {
		@apply text-2xl md:text-3xl font-bold mb-4 text-primary-600;
	}
	
	.section-description {
		@apply text-lg opacity-80 mb-6 max-w-3xl mx-auto;
	}
	
	.section-container {
		@apply py-10 md:py-16;
	}
}

@layer utilities {
	/* focus utility class (for when user is tabbing through items on page) */
	.primary-focus:focus-visible {
		@apply ring-primary-700 rounded-xs ring-2;
	}

	/* main gradient. Used for tags and some headings */
	.main-text-gradient {
		@apply bg-gradient-to-r from-[#3B5EF5] via-[#E53935] to-[#4CAF50] bg-clip-text text-transparent;
	}

	.rotate-180 {
		@apply rotate-180;
	}
}