
---
import { Icon } from 'astro-icon/components';
---

<section class="about-team-alternate py-14 md:py-24 text-base-900">
  <div class="container px-4 mx-auto">
    <div class="flex justify-center mb-6 md:mb-12">
      <div class="sm:max-w-md text-center">
        <h2 class="text-3xl leading-none font-bold md:text-4xl mb-4 text-primary-600">Notre Équipe d'Experts</h2>
        <p class="opacity-80">Les spécialistes qui animent notre club et contribuent à son rayonnement académique.</p>
      </div>
    </div>
    <div class="grid grid-cols-6 gap-6">
      <div class="col-span-6 md:col-span-3 lg:col-span-2 flex">
        <div class="mr-4">
          <img
            src="https://cdn.easyfrontend.com/pictures/users/user28.jpg"
            alt="Photo du professeur Amadou Diop"
            class="max-w-full h-auto rounded"
            width="120"
          />
        </div>
        <div class="about-team-alternate-content">
          <h4 class="text-2xl font-medium mb-2 text-primary-600">Pr. Amadou Diop</h4>
          <h6 class="font-medium">Professeur / Encadreur</h6>
          <p class="opacity-70 mb-0">Spécialiste en relations internationales et géopolitique africaine.</p>
          <div class="mt-4 flex space-x-4">
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Facebook"
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="LinkedIn"
            >
              <Icon name="tabler:brand-linkedin" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Twitter"
            >
              <Icon name="tabler:brand-twitter" class="w-5 h-5" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2 flex">
        <div class="mr-4">
          <img
            src="https://cdn.easyfrontend.com/pictures/users/user8.jpg"
            alt="Photo de Mme Fatou Sow"
            class="max-w-full h-auto rounded"
            width="120"
          />
        </div>
        <div class="about-team-alternate-content">
          <h4 class="text-2xl font-medium mb-2 text-primary-600">Dr. Fatou Sow</h4>
          <h6 class="font-medium">Maître de conférences</h6>
          <p class="opacity-70 mb-0">Spécialiste en politiques publiques et développement institutionnel.</p>
          <div class="mt-4 flex space-x-4">
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Facebook"
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="LinkedIn"
            >
              <Icon name="tabler:brand-linkedin" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Twitter"
            >
              <Icon name="tabler:brand-twitter" class="w-5 h-5" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2 flex">
        <div class="mr-4">
          <img
            src="https://cdn.easyfrontend.com/pictures/users/user27.jpg"
            alt="Photo de M. Omar Ba"
            class="max-w-full h-auto rounded"
            width="120"
          />
        </div>
        <div class="about-team-alternate-content">
          <h4 class="text-2xl font-medium mb-2 text-primary-600">Dr. Omar Ba</h4>
          <h6 class="font-medium">Chargé de recherche</h6>
          <p class="opacity-70 mb-0">Expert en science politique comparée et systèmes électoraux africains.</p>
          <div class="mt-4 flex space-x-4">
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Facebook"
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="LinkedIn"
            >
              <Icon name="tabler:brand-linkedin" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Twitter"
            >
              <Icon name="tabler:brand-twitter" class="w-5 h-5" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2 flex">
        <div class="mr-4">
          <img
            src="https://cdn.easyfrontend.com/pictures/users/user15.jpg"
            alt="Photo de Mme Aïssatou Diallo"
            class="max-w-full h-auto rounded"
            width="120"
          />
        </div>
        <div class="about-team-alternate-content">
          <h4 class="text-2xl font-medium mb-2 text-primary-600">Dr. Aïssatou Diallo</h4>
          <h6 class="font-medium">Responsable pédagogique</h6>
          <p class="opacity-70 mb-0">Spécialiste en sociologie politique et mouvements sociaux ouest-africains.</p>
          <div class="mt-4 flex space-x-4">
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Facebook"
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="LinkedIn"
            >
              <Icon name="tabler:brand-linkedin" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Twitter"
            >
              <Icon name="tabler:brand-twitter" class="w-5 h-5" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2 flex">
        <div class="mr-4">
          <img
            src="https://cdn.easyfrontend.com/pictures/users/user26.jpg"
            alt="Photo de M. Cheikh Ndiaye"
            class="max-w-full h-auto rounded"
            width="120"
          />
        </div>
        <div class="about-team-alternate-content">
          <h4 class="text-2xl font-medium mb-2 text-primary-600">M. Cheikh Ndiaye</h4>
          <h6 class="font-medium">Doctorant chercheur</h6>
          <p class="opacity-70 mb-0">Chercheur sur les politiques de développement et la gouvernance locale.</p>
          <div class="mt-4 flex space-x-4">
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Facebook"
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="LinkedIn"
            >
              <Icon name="tabler:brand-linkedin" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Twitter"
            >
              <Icon name="tabler:brand-twitter" class="w-5 h-5" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2 flex">
        <div class="mr-4">
          <img
            src="https://cdn.easyfrontend.com/pictures/users/user10.jpg"
            alt="Photo de Mme Aminata Sidibé"
            class="max-w-full h-auto rounded"
            width="120"
          />
        </div>
        <div class="about-team-alternate-content">
          <h4 class="text-2xl font-medium mb-2 text-primary-600">Mme Aminata Sidibé</h4>
          <h6 class="font-medium">Assistante de recherche</h6>
          <p class="opacity-70 mb-0">Spécialiste des relations internationales et de la diplomatie africaine.</p>
          <div class="mt-4 flex space-x-4">
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Facebook"
            >
              <Icon name="tabler:brand-facebook" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="LinkedIn"
            >
              <Icon name="tabler:brand-linkedin" class="w-5 h-5" />
            </a>
            <a
              href="#"
              class="text-primary-600 opacity-70 transition duration-300 hover:opacity-100"
              aria-label="Twitter"
            >
              <Icon name="tabler:brand-twitter" class="w-5 h-5" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
