
---
---

<section class="py-14 md:py-24 text-zinc-900">
  <div class="container px-4 mx-auto">
    <div class="grid grid-cols-12 gap-6 max-w-7xl mx-auto text-center">
      <div class="col-span-12 sm:col-span-6 lg:col-span-3">
        <h3 class="text-[45px] text-primary-600 font-black mb-2">45</h3>
        <h5 class="text-lg font-medium opacity-80">Événements organisés</h5>
      </div>
      <div class="col-span-12 sm:col-span-6 lg:col-span-3">
        <h3 class="text-[45px] text-primary-600 font-black mb-2">350+</h3>
        <h5 class="text-lg font-medium opacity-80">Membres actifs</h5>
      </div>
      <div class="col-span-12 sm:col-span-6 lg:col-span-3">
        <h3 class="text-[45px] text-primary-600 font-black mb-2">12</h3>
        <h5 class="text-lg font-medium opacity-80">Partenariats</h5>
      </div>
      <div class="col-span-12 sm:col-span-6 lg:col-span-3">
        <h3 class="text-[45px] text-primary-600 font-black mb-2">86%</h3>
        <h5 class="text-lg font-medium opacity-80">Taux de satisfaction</h5>
      </div>
    </div>
  </div>
</section>
